
{% load tz %}
{% timezone tzname %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'todo:todolist' %}" method="post">
{% csrf_token %}
<input type="text" name="task_text">
<input type="datetime-local" name="deadline" value="{{ current_time|date:'Y-m-d' }}T{{ current_time|date:'H:i' }}">
<input type="submit" name="operation" value="add">
</form>

{% if task_list %}
<ul>
  {% for task in task_list %}
  <li>
    <form action="{% url 'todo:todolist' %}" method="post">
    {% csrf_token %}
    <input type="text" name="task_text" value="{{ task.task_text }}">
    <input type="datetime-local" name="deadline" value="{{ task.deadline|date:'Y-m-d' }}T{{ task.deadline|date:'H:i' }}">
    <input type="hidden" name="task_id" value="{{ task.id }}">
    <input type="submit" name="operation" value="modify">
    <input type="reset" value="reset">
    </form>
    <form action="{% url 'todo:todolist' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="task_id" value="{{ task.id }}">
    <input type="submit" name="operation" value="delete">
    </form>

  </li>
  {% endfor %}
</ul>
{% else %}
<p>task does not exist.</p>
{% endif %}

{% endtimezone %}
