{% extends "base.html" %}

{% block head %}
 <div hidden id="testtest">{{ user.mycolor }}</div>
{% endblock %}

{% block content %}

{% load tz %}
{% timezone user.tz %}

{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}

<h2>{{ group.name|slice:':-10' }} のToDoList</h2>

<form method="post">
  {% csrf_token %}
  <input type="text" name="task_text">
  <input type="datetime-local" name="deadline" value="{% now 'Y-m-d\TH:i' %}">
  <input type="submit" class="btn btn-warning" value="追加" formaction="{% url 'todo:create_task' group.pk %}">
</form>

{% if overdue_list  or nearby_list or other_list %}
  <ul>
    <p>直近のタスク</p>
    {% for task in nearby_list %}
      <li>
        <form method="post">
          {% csrf_token %}
          <input type="text" name="task_text" value="{{ task.task_text }}">
          <input type="datetime-local" name="deadline" value="{{ task.deadline|date:'Y-m-d\TH:i' }}">
          <input type="hidden" name="task_id" value="{{ task.id }}">
          <input type="submit" class="btn btn-dark" value="変更" formaction="{% url 'todo:update_task' group.pk %}">
          <input type="reset" class="btn btn-secondary" value="リセット">
          <input type="submit" class="btn btn-danger" value="削除" formaction="{% url 'todo:delete_task' group.pk %}">
        </form>
      </li>
    {% endfor %}
    <p>他のタスク</p>
    {% for task in other_list %}
      <li>
        <form method="post">
          {% csrf_token %}
          <input type="text" name="task_text" value="{{ task.task_text }}">
          <input type="datetime-local" name="deadline" value="{{ task.deadline|date:'Y-m-d\TH:i' }}">
          <input type="hidden" name="task_id" value="{{ task.id }}">
          <input type="submit" class="btn btn-dark" value="変更" formaction="{% url 'todo:update_task' group.pk %}">
          <input type="reset" class="btn btn-secondary" value="リセット">
          <input type="submit" class="btn btn-danger" value="削除" formaction="{% url 'todo:delete_task' group.pk %}">
        </form>
      </li>
    {% endfor %}
    <p>〆切後のタスク</p>
    {% for task in overdue_list %}
      <li>
        <form method="post">
          {% csrf_token %}
          <input type="text" name="task_text" value="{{ task.task_text }}">
          <input type="datetime-local" name="deadline" value="{{ task.deadline|date:'Y-m-d\TH:i' }}">
          <input type="hidden" name="task_id" value="{{ task.id }}">
          <input type="submit" class="btn btn-dark" value="変更" formaction="{% url 'todo:update_task' group.pk %}">
          <input type="reset" class="btn btn-secondary" value="リセット">
          <input type="submit" class="btn btn-danger" value="削除" formaction="{% url 'todo:delete_task' group.pk %}">
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>タスクはありません</p>
{% endif %}

{% endtimezone %}

{% endblock %}
