{% load tz %}
{% timezone tzname %}

{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}

{{ group.name|slice:':-10' }} のToDoList
<a href="{% url 'account:mypage' %}">マイページに戻る</a>
<a href="{% url 'account:logout' %}">ログアウト</a>

<form method="post">
  {% csrf_token %}
  <input type="text" name="task_text">
  <input type="datetime-local" name="deadline" value="{% now 'Y-m-d\TH:i' %}">
  <input type="submit" value="追加" formaction="{% url 'todo:add' group.pk %}">
</form>

{% if task_list %}
  <ul>
    {% for task in task_list %}
      <li>
        <form method="post">
          {% csrf_token %}
          <input type="text" name="task_text" value="{{ task.task_text }}">
          <input type="datetime-local" name="deadline" value="{{ task.deadline|date:'Y-m-d\TH:i' }}">
          <input type="hidden" name="task_id" value="{{ task.id }}">
          <input type="submit" value="変更" formaction="{% url 'todo:modify' group.pk %}">
          <input type="reset" value="リセット">
          <input type="submit" value="削除" formaction="{% url 'todo:delete' group.pk %}">
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>タスクはありません</p>
{% endif %}

{% endtimezone %}
