{% extends "base.html" %}
{% load static %}

<!-- {% block head %}
 <script type="text/javascript" src="{% static 'js/test.js' %}"></script>
{% endblock %} -->


{% block content %}
{% load webpush_notifications %}
{% webpush_header %}

{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}

{{ user.email }} さんの設定

<form method="post" id="target">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.mycolor.label_tag }}</td>
      <td>
        {% for radio in form.mycolor %}
          {{ radio.tag }}{{ radio.choice_label}}
        {% endfor %}
      </td>
    </tr>
    {{ form.mycolor.errors }}
    <tr>
      <td class="frame">現在のテーマカラー:</td>
      <!-- <td class="choice"><a href="javascript:changeGreenMode();">グリーン</a>
    <a href="javascript:changeBrownMode();">ブラウン</a>
    <a href="javascript:changeDarkMode();">ブラック</a>
    <a href="javascript:changePinkMode();">ピンク</a></td> -->
        <td><div id="testtest">{{ user.mycolor }}</div></td>
    </tr>
    <tr>
      <td>{{ form.tz.label_tag }}</td>
      <td>{{ form.tz }}</td>
    </tr>
    {{ form.tz.errors }}
    <tr>
      <td>{{ form.accept_email.label_tag }}</td>
      <td>{{ form.accept_email }}</td>
    </tr>
    {{ form.accept_email.errors }}
    <tr>
      <td>プッシュ通知の受け取り: </td>
      <td>{% webpush_button %}</td>
    </tr>
  </table>
  <input type="submit" value="変更" formaction="{% url 'accounts:setting' %}" />

</form>

{% endblock %}
